<template>
    <div>
        <section>
            <div class="container px-6 py-6 m-auto">
                <RouterLink to="/jobs" class="flex items-center text-green-500 hover:text-green-600">
                    <i class="mr-3 pi pi-arrow-circle-left"></i> Back to Job Listings
                </RouterLink>
            </div>
        </section>
    </div>
</template>

<script setup>
import { RouterLink } from "vue-router";


</script>

<style lang="scss" scoped></style>