<template>
    <div class="relative bg-white shadow-md rounded-xl">
        <div class="p-4">
            <div class="mb-6">
                <div class="my-2 text-gray-600">{{ job.type }}</div>
                <h3 class="text-xl font-bold">{{ job.title }}</h3>
            </div>

            <div class="mb-5">
                <div>{{ shortDescription }}</div>
                <button class="mb-5 text-green-500 hover:text-green-600" @click="toggleFullDescription">
                    {{ showFullDescription ? "Less" : "More" }}
                </button>
            </div>

            <h3 class="mb-2 text-green-500">{{ job.salary }} / Year</h3>

            <div class="mb-5 border border-gray-100"></div>

            <div class="flex flex-col justify-between mb-4 lg:flex-row">
                <div class="mb-3 text-orange-700">
                    <i class="text-orange-700 pi pi-map-marker"></i>
                    {{ job.location }}
                </div>
                <RouterLink :to="'/jobs/' + job.id"
                    class="h-[36px] bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded-lg text-center text-sm">
                    Read More
                </RouterLink>
            </div>
        </div>
    </div>
</template>

<script setup>
import { RouterLink } from "vue-router";
import { defineProps, ref, computed } from "vue";
const props = defineProps({
    job: {
        type: Object,
        required: true,
    },
});

const showFullDescription = ref(false);

const shortDescription = computed(() => {
    return showFullDescription.value
        ? props.job.description
        : props.job.description.slice(0, 100) + "...";
});

const toggleFullDescription = () => {
    showFullDescription.value = !showFullDescription.value;
};
</script>

<style lang="scss" scoped></style>
